<h2> This is an example form</h2>

<form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>

  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>

  <div class="dropdown">
    <label> Choose any option: </label>
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>

  <label> Choose any option: </label>
  <select class="selectpicker">
    <option>Mustard</option>
    <option class="special">Ketchup</option>
    <option>Relish</option>
  </select>

  <br/>

  <label> Radio Type 1 </label>
  <div class="radio">
    <label><input type="radio" name="optradio">Option 1</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio">Option 2</label>
  </div>

  <label> Radio Type 2 </label>
  <label class="radio-inline">
    <input type="radio" name="optradio">Option 1
  </label>

  <label class="radio-inline">
    <input type="radio" name="optradio">Option 2
  </label>

  <label class="radio-inline">
    <input type="radio" name="optradio">Option 3
  </label>

  <br/>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
