<div class="navbar-nav navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/assets/logo30.png" alt=""> Bootstrap Template </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html"><i class="icon-home icon-white"></i> Home</a></li>
        <li><a href="manager.html"><i class="icon-folder-open icon-white"></i> File Manager</a></li>
        <li><a href="calendar.html"><i class="icon-calendar icon-white"></i> Calendar</a></li>
        <li><a href="tables.html"><i class="icon-th icon-white"></i> Tables</a></li>
        <li><a href="login.html"><i class="icon-lock icon-white"></i> Login</a></li>
        <li><a href="user.html"><i class="icon-user icon-white"></i> User</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="img-circle" height="30px" width="30px" src="/assets/default.jpg"/>
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li style="padding: 3px 20px;">Atul Khanduri</li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
